body {
    background-image: linear-gradient(to top, rgb(4, 4, 99), rgb(3, 148, 39));
    height: 100vh;
    background-size: cover;
    margin: 35px;
     padding: 20px;
     color: solid black;
     align-items: center;


}
.logo {
    width: 50%;
}
.formulário {
    justify-content: center;
    display: flex;
    margin-bottom: 50%;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Email-1 {
    padding: 10px;
    margin-bottom: 10px;
}
#inputPassword {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    display: flex;
    justify-content: left;
}
.col-sm-2{
    width: 300px;
}
.Logodelogin{
    background-color: rgb(4, 4, 99);
     width: 75%;
     border-radius: 3px;
     border: solid 3px black;
     padding: 5px;
     flex-direction: column;
    display: flex;
    justify-content: center;
}
.col-sm-2 {
    color: aliceblue;
}
.form-label {
    color: aliceblue;
}
.divImg{
    display: flex;
    justify-content: center;
}