.Img-1{
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.linhas {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}